body{height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#sketchpad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  width: 600px;
  border: thin black solid;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 600px;
}

.pix {
  aspect-ratio: 1 / 1;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

h1 {
  margin: 0px;
}